@{
    ViewData["Title"] = "Оперативная информация";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-8">
                            <div class="card sale-card">
                                <div class="card-header">
                                    <h5>Новые вакансии</h5>
                                </div>
                                <div class="card-block">
                                    <div id="sales-analytics" class="chart-shadow" style="height:380px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                            <div class="card comp-card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-b-25">Численность населения</h6>
                                            <h3 class="f-w-700 text-c-blue">1 012 500</h3>
                                            <p class="m-b-0">14 Ноябрь 2020</p>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye bg-c-blue"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card comp-card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-b-25">Средняя зар. плата</h6>
                                            <h3 class="f-w-700 text-c-green">30 564</h3>
                                            <p class="m-b-0">15 Августа 2020</p>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-bullseye bg-c-green"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card comp-card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-b-25">Уровень безработицы</h6>
                                            <h3 class="f-w-700 text-c-yellow">6.9%</h3>
                                            <p class="m-b-0">10 октябрь 2020</p>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-hand-paper bg-c-yellow"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card proj-progress-card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-6">
                                            <h6>Опубликовано вакансий</h6>
                                            <h5 class="m-b-30 f-w-700">127<span class="text-c-green m-l-10">+200(годом ранее)</span></h5>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-red" style="width:25%"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <h6>Закрыто вакансий</h6>
                                            <h5 class="m-b-30 f-w-700">23<span class="text-c-red m-l-10">-40(годом ранее)</span></h5>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-blue" style="width:65%"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <h6>Уволилось сегодня</h6>
                                            <h5 class="m-b-30 f-w-700">0<span class="text-c-green m-l-10"></span></h5>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-green" style="width:85%"></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-md-6">
                                            <h6>Устроилось сегодня</h6>
                                            <h5 class="m-b-30 f-w-700">15<span class="text-c-green m-l-10"></span></h5>
                                            <div class="progress">
                                                <div class="progress-bar bg-c-yellow" style="width:45%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>